@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    scroll-behavior: smooth;
  }
  * {
    /* border: 1px solid black; */
  }
}

@font-face {
  font-family: "HelveticaNeue";
  src: local("HelveticaNeue"), url("../public/HelveticaNeue.ttc") format("ttc");
}

@font-face {
  font-family: "HallieThompsonSerif";
  src: local("HallieThompsonSerif"),
    url("../public/HallieThompsonSerif.ttf") format("ttf");
}

@font-face {
  font-family: "KannadaMN";
  src: local("KannadaMN"), url("../public/KannadaMN.ttc") format("ttc");
}
