@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@font-face {
  font-family: "HelveticaNeue";
  src: local("HelveticaNeue"), url("../public/HelveticaNeue.ttc") format("ttc");
}

@font-face {
  font-family: "TimesNewRomanRegular";
  src: local("TimesNewRomanRegular"),
    url("../public/TimesNewRoman.ttf") format("ttf");
}

@font-face {
  font-family: "SourceSerifVariable-Roman";
  src: local("SourceSerifVariable-Roman"),
    url("../public/SourceSerifVariable-Roman.otf") format("opentype");
}
