@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    scroll-behavior: smooth;
  }
  * {
    /* border: 1px solid black; */
  }
}

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url("../public/Avenir Next.ttc") format("ttc");
}

@font-face {
  font-family: "CREALEN";
  src: local("CREALEN"), url("../public/CREALEN.otf") format("opentype");
}

@font-face {
  font-family: "KannadaMN";
  src: local("KannadaMN"), url("../public/KannadaMN.ttc") format("ttc");
}
